<?xml version="1.0" encoding="UTF-8"?>
 <Configuration status="INFO">
     <Appenders>
         <Console name="Console" target="SYSTEM_OUT">
             <PatternLayout pattern="%n[%d{HH:mm:ss.SSS}][%-5level{lowerCase=true}] %msg"/>
         </Console>
         <File name="MyFile" fileName="logs/log4j.log" immediateFlush="true" append="true">
             <PatternLayout pattern="%n[%d{yyy-MM-dd HH:mm:ss.SSS}][%-5level{lowerCase=true}] %msg"/>
         </File>
     </Appenders>
     <Loggers>
         <Root level="all">
             <AppenderRef ref="Console" />
             <AppenderRef ref="MyFile"/>
         </Root>
     </Loggers>
 </Configuration> 